<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
      <h1>Add to the Pack</h1>
      <form class="add-dog" action="/dobes" method="post">
        <input type="text" name="name" placeholder="Cute Dog Name"><br>
        <input type="text" name="info" placeholder="Cute Dog Information Here"><br>
        <input type="submit" value="Add Dog to the Pack!">
      </form>
      <a href="/">Back to the Doghouse</a>
  </body>
</html>
